<%= form_with(model: chicken_run, local: true) do |form| %>
  <% if chicken_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chicken_run.errors.count, "error") %> prohibited this chicken_run from being saved:</h2>

      <ul>
      <% chicken_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.date_field :date %>
    <%= form.time_field :time %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
